h1 {
    color:whitesmoke;
}

h4 {
    color:whitesmoke;
}

a,
li,
p {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*==============BODY===============*/

body {
    width: 1100px; /*Web size*/
    margin: 30px auto; /*Auto untuk center*/
    border: 1px solid black;
}

/*==============MAIN===============*/

main {
    display: flex; 
    flex-direction: row; /*Dari Vertikal menjadi Horizontal*/
}

/*==============IMG===============*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto; /*Baris 20-22 agar image posisi-nya jadi center*/
    background-size: 100%; /*contain img*/
    width: 80% 
}

/*==============HEAD===============*/

.head {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-image: url(img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    padding: 300px 0px 10px 0px;
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid black;
}

.head h1 {
    padding: 0px 0px 0px 10px;
}

.head h4 {
    padding: 0px 0px 0px 10px;
    margin-bottom: 0;
}

header a {
    text-decoration: none;
}

/*============CATEGORY=============*/

.category {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    background: rgb(180,58,58);
    background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,235,29,1) 50%, rgba(252,207,69,1) 100%);
    border-bottom: 1px solid black;
}

.category ul{
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 0;
}

.category li{
    float: left;
    margin: 0px 10px;
    color: black;
}

.category li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.category li a:hover {
    text-decoration: underline;
    color: #177e89;
}

.content {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 100%);
    text-align: justify;
    width: 70%;

}

/*=============SIDEBAR===============*/

.sidebar {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(255,212,35);
    background: linear-gradient(0deg, rgba(255,212,35,1) 0%, rgba(255,255,255,1) 100%);
}

.sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar a:hover {
    text-decoration: underline;
    color: #177e89;
}

.side-sidebar {
    width: 15%;
    background-color: #f6546a;
    height: 100%;;
}

.list-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 15px;
    width: 70%;
    border-bottom: 1px solid black;
}

/*=============FOOTER===============*/

.foot {
    border-top: 1px solid black;
    padding: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.foot p {    
    text-align: center;
    color:white;
    font-weight: bold;
}

/*================PAD=================*/

.pad_this {
    padding: 10px 15px 15px 15px; /*Bezel*/
    
}

/*===========TITLE BORDER============*/

.headline-wrapper {
    width: 100%;
    border-bottom: 1px solid black;
}

.headline-wrapper h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

/*===================================*/